<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Dog List</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
</head>
<body>
<h1>dogs registration form</h1>
<div>
    <a th:href="@{/dogs}"
       class="btn btn-primary btn-sm mb-3">
        DOGS LIST
    </a>
</div>
<div class="container">
    <form th:action="@{/dogs/save}" th:object="${dog}" method="POST">

        <input type="hidden" class="form-control" id="id" th:field="*{id}">

        <div class="mb-3">
            <label for="fullName" class="form-label">FullName</label>
            <input type="text" class="form-control" id="fullName" th:field="*{fullName}">
        </div>

        <div class="mb-3">
            <label for="nickName" class="form-label">NickName</label>
            <input type="text" class="form-control" id="nickName" th:field="*{nickName}">
        </div>

        <div class="mb-3">
            <label for="sex" class="form-label">Sex</label>
            <input type="text" class="form-control" id="sex" th:field="*{sex}">
        </div>

        <div class="mb-3">
            <label for="trasnponderNumber" class="form-label">TrasnponderNumber</label>
            <input type="text" class="form-control" id="trasnponderNumber" th:field="*{trasnponderNumber}">
        </div>

<!--        <div class="mb-3">-->
<!--          <label for="birthDate" class="form-label">Date of Birth</label>-->
<!--          <input type="date" class="form-control" id="birthDate" th:field="*{birthDate}">-->
<!--            <p th:text="${#dates.format(dog.birthDate, 'dd/MM/yyyy')}"></p>-->
<!--        </div>-->

        <div class="mb-3">
            <label for="handlerName" class="form-label">Handler's Name</label>
            <input type="text" class="form-control" id="handlerName" th:field="*{handlerName}">
        </div>

        <div class="mb-3">
            <label for="emailAdress" class="form-label">email Adress</label>
            <input type="text" class="form-control" id="emailAdress" th:field="*{emailAdress}">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>